* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: sans-serif;
    background-color: #93c0ff;
}

a {
    text-decoration: none;
    color: #fff;
}

.title-container {
    background-color: #82b6ff;
    height: 8vh;
    width: 34vw;
    display: grid;
    place-items: center;
    position: absolute;
    margin-top: 2vh;
    border-radius: 50px;
    margin-left: -30px;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
    color: #000;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}



/* Light theme styling */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #00232b;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #991b1b;
    font-weight: bold;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #2f31a3;
}

.calculator button.btn-operator {
    background-color: #e6dfff;
    color: #9543ae;
    font-weight: bold;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
    font-weight: bold;
  }



  /* Dark theme styling  */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #262626;
    color: #bd3740;
  }

  .calculator.dark button#backspace {
    background-color: #262626;
    color: #bd3740;
  }

  .calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #262626;
    color: #37792e;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
  }

 
  